body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #ddffdd;
}

li {
  color: coral;
  font-size: 12px;
}

a {
  color: #00B7FF;
}

h1 {
  text-align:center;
}
