body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #bbffbb;
}

p {
  color: coral;
  font-size: 16px;
}

li {
  color: black;
  font-size: 14px;
  font-family: Avenir;
}

a {
  color: #00B7FF;
}

h1 {
  text-align:center;
}
